#!/usr/bin/env python3
PACKAGE = "vpa_robot_interface"
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("kp", double_t, 0, "p gain", 0.1, 0, 1)
gen.add("ki", double_t, 0, "I gain", 0.01, 0, 1)
gen.add("kd", double_t, 0, "D gain", 0.01, 0, 1)
gen.add("u_min", double_t, 0, "Minimum output", -1.0, -10, 0)
gen.add("u_max", double_t, 0, "Maximum output", 1.0, 0, 10)
gen.add("tau_aw", double_t, 0, "Anti-windup time constant", 1.0, 0.1, 10)
gen.add("kff", double_t, 0, "Feedforward gain", 0.1, 0, 1)
gen.add("bff", double_t, 0, "Feedforward bias", 0.0, 0, 1)

exit(gen.generate(PACKAGE, "vpa_robot_interface", "omega"))
