<launch>
<!-- assumes ds4drv is running -->
    <arg name="gas_max" default="0.25"/>
    <node name="joy_node" pkg="joy" type="joy_node">
    </node>
    <include file="$(find vpa_robot_interface)/launch/vpa_traction_start.launch">
    </include>
    <node name="joy_trans" pkg="vpa_robot_interface" type="joystick_driver.py" output="screen">
        <param name="gas_max" value="$(arg gas_max)"/>
    </node>
</launch>